*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cesiumContainer {
  width: 100vw; /* Asegura que ocupe todo el ancho */
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
/* #app {
  position: relative;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
} */

/* .navbar {
  position: relative;
  z-index: 20;
} */

/* #cesiumContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  z-index: 1;
} */
